@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&family=Roboto+Slab&display=swap');
header{
    margin: 5px;
    border: 2px black solid;
    padding: 2px;
    display: block;
    width: 100%;
    text-align: center;
}

#logo{
    width: 50px;
    float:left;
}

h1{
    text-align: center;
    font-family: 'Roboto Slab';
}

.nav {
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  text-align: center;

}

.nav li{
  width: 15%;
  float: left;
  text-transform: capitalize;
  list-style: none;
  text-align: center;
  }

.nav a {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}

.nav a:hover {
  background-color: lavender;
}

footer{
  font-family: 'Roboto Slab';
}

#contact{
  list-style: none;
}

#contact li{
  display: inline-block;
}