@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&family=Roboto+Slab&display=swap');
header{
    margin: 5px;
    border: 2px black solid;
    padding: 2px;
    display: block;
    width: 100%;
    text-align: center;
}

#logo{
    width: 50px;
    float:left;
}

h1{
    text-align: center;
    font-family: 'Roboto Slab';
}

#blog{
    text-align: center;
    margin: auto;
  }

iframe{
    border-color: black;
}

.big tr,
.big td{
    border: black 2px solid;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: black;
}

#what{
    text-align: center;
}

h2{
    font-family: 'Roboto Slab';
    text-align: center;
}

.social{
    width: 50px;
}

#ugly{
    width:100px;
}

#submit{
    background-color: #7a12ff;
    color: white;
    font-family: 'Roboto Slab';
    border: none;
}

#reset{
    background-color: #7a12ff;
    color: white;
    font-family: 'Roboto Slab';
}

.button-img{
    width: 20px;
}

fieldset{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}



.nav {
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    text-align: center;

  }

.nav li{
    width: 15%;
    float: left;
    text-transform: capitalize;
    list-style: none;
    text-align: center;
    }
  
.nav a {
    padding: 10px;
    text-decoration: none;
    display: inline-block;
  }
  
.nav a:hover {
    background-color: lavender;
  }

footer{
    font-family: 'Roboto Slab';
}

#contact{
    list-style: none;
}

#contact li{
    display: inline-block;
}
