@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&family=Roboto+Slab&display=swap');


.nav {
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  text-align: center;

}

.nav li{
  width: 15%;
  float: left;
  text-transform: capitalize;
  list-style: none;
  text-align: center;
  }

.nav a {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}

.nav a:hover {
  background-color: lavender;
}


#contact li{
  display: inline-block;
}


.container{
  width:1000px;
  padding: 5px;
  display: block;
}

.container a{
  text-align: center;
  display:inline-block;
  font-family: 'Roboto Mono', monospace;
}

img{
  width:100px;
}


footer{
  font-family: 'Roboto Slab';
  border-top: black 2px solid;
}

#contact{
  list-style: none;
}

#contact li{
  display: inline-block;
  }
